<a href="https://colab.research.google.com/github/navaneethkrishnan19/ENCORED/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load the first dataset
df1 = pd.read_csv('gender_submission.csv')

# Identify missing values in the first dataset
missing_values_df1 = df1.isnull().sum()

# Decide on handling strategy for the first dataset

# Example: Impute missing values for numerical columns with the mean
# df1['column_name'].fillna(df1['column_name'].mean(), inplace=True)

# Example: Drop rows with missing values in specific columns
# df1.dropna(subset=['column_name'], inplace=True)

# Repeat the above steps for the second dataset
df2 = pd.read_csv('test.csv')
missing_values_df2 = df2.isnull().sum()
# Handle missing values in the second dataset

# Repeat the above steps for the third dataset
df3 = pd.read_csv('train.csv')
missing_values_df3 = df3.isnull().sum()
# Handle missing values in the third dataset

# Print out the results
print("Missing values in the first dataset:")
print(missing_values_df1)
print("\nMissing values in the second dataset:")
print(missing_values_df2)
print("\nMissing values in the third dataset:")
print(missing_values_df3)

Missing values in the first dataset:
PassengerId    0
Survived       0
dtype: int64

Missing values in the second dataset:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

Missing values in the third dataset:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64